*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Germania One', cursive;
    font-size: 30px;
    background-color: #e3908a;
    color: #F9FBDD;
}

h1,
h2,
p {
    margin: 0;
}

.addbeer {
    color: #F9FBDD;
}

.looking {
    color: #F9FBDD;
}

.topnav {
    display: flex;
    width: 100%;
    flex-direction: row;
    font-size: 30px;
    justify-content: center;
    background-color: #b08582;
    font-weight: 900;
    position: fixed;
    padding: 0.7rem;
    top: 0;
}

h1 {
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4a4949;
    padding-top: 4rem;
}

.breweryname {
    padding-top: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4a4949;
    height: auto;
    margin: 2rem;
    border: 10px solid red;
    border-color: #D8B589;
}

img {
    width: auto;
    height: 200px;
    object-fit: cover;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addtocollection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}