*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Germania One', cursive;
    font-size: 30px;
    background-color: #f7a877;
    color: blue;
}